<h1>Your account page!</h1>


<% if Helpers.is_logged_in?(session) %>
  <h2> Welcome <%= Helpers.current_user(session).username %></h2>
  <h2> Balance: <%= Helpers.current_user(session).balance %></h3>
<% else %>
  <form> action="/error" method=get </form>
<% end %>


<p><a href="/">Homepage</a></p>
<p><a href="/">Log Out</a></p>
